*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.container .addBtn {

    background-color: #007bff;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.3rem 0.8rem;
    color: #ffffff;
    border-radius: 100%;
    font-size: 1.8rem;
    position: absolute;
    top: 20px;
    right: 20px;
}

.container .addBtn:hover {
    animation: slideIn 2s ease forwards;
    background-color: #0056b3;
}


#tablaFacturas {
    border-collapse: collapse;
    width: 100%;
}

#tablaFacturas th,
#tablaFacturas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tablaFacturas th {
    background-color: #f0f0f0;
}

#tablaFacturas tbody tr:nth-child(even) {
    background-color: #fefefe;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal h2{
    padding: 1rem 0px;
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    height: fit-content;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button[type="submit"]:hover {
    background-color: #0056b3;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav{
    width: 100%;
    padding: 1rem;
}
.nav_list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}   
.list_item{
    cursor: pointer;
    padding: 4px 8px;
    color: #ffffff;
    border-radius: 4px;
}

.nav_list li:nth-child(1){
    background-color: #007bff;
}
.nav_list li:nth-child(2){
    background-color: #ff2200;
}
.nav_list li:nth-child(3){
    background-color: #00ce00;
}
.nav_list li:nth-child(1):hover{
    background-color: #3094ff;
}
.nav_list li:nth-child(1):active{
    background-color: #0066d3;
}
.nav_list li:nth-child(2):hover{
    background-color: #ff4d32;
}
.nav_list li:nth-child(2):active{
    background-color: #ce1c00;
}
.nav_list li:nth-child(3):hover{
    background-color: #02ff02;
}
.nav_list li:nth-child(3):active{
    background-color: #05a805;
}

td > button{
    display: none;
}

.action{
    display: block;
    margin: 0 auto;
    padding: 1px 4px;
}

td > .hidden{
    display: none; 
}